<div class="row">
    <div class="col-md-4 ">
        <p class="alert alert-info">
            Angular is Javascript framework ,it is build top on the typescript,
            which is use to create spa <span> {{ng}}</span> maintend by google,Angular written
            by typescript
        </p>
        <p class="alert alert-info">
            transfer of data form ts to template <span>{{ngo}}</span>
        </p>
    </div>
    <div class="col-md-4 ">
        <p class="alert bg-success text-white">
            Components are the main <span style="background-color: orangered;">{{compoInAg}}</span>for Angular applications. Each component consists of:
        </p>
        <ol type="1" class="alert bg-success text-white">
            <li>
                An HTML template that declares what renders on the page
            </li>
            <li>
                A TypeScript class that defines behavior
            </li>
            <li>
                A CSS selector that defines how the component is used in a template
            </li>
        </ol >
       
    </div>
    <div class="col-md-4 ">
        <p class="alert bg-primary text-white">
            <Span style="background-color: orange;color: #feffff;">{{propbinding}}</Span>, enclose it in square brackets, [], which identifies the property as a target property.
        </p>
        <p class="alert bg-primary text-white">
           <span>{{evebinding}}</span> lets you listen for and respond to user actions 
            such as keystrokes, mouse movements, clicks, and touches.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
       <ul class="list-group ">
         <li class="list-group-item bg-info text-white" *ngFor="let list of list">
             i love {{list}}
         </li>
       </ul>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item bg-danger text-white" *ngFor="let ages of ages">
             {{ages}}  binding
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item bg-primary text-white" *ngFor="let cars of cars">
              best celling cars {{cars}}
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item bg-success text-white" *ngFor="let fruits of fruits">
              my fav fruits {{fruits}}
            </li>
        </ul>
    </div>
</div>

