<p class="bg-info text-center text-white">
    property binding
 </p>
<div class="row">
    <div class="col-md-4">
        <p [innerHTML]="Angular" class="alert alert-info">

        </p>
    </div>
    <div class="col-md-4">
       <p [innerHTML]="component" class="alert bg-success text-white">
            
       </p>
       <p [innerHTML]="template" class="alert bg-primary text-white">

       </p>
    </div>
    <div class="col-md-4">
        
        <p [innerHTML]="fritype" class="alert bg-primary text-white">

        </p>
        <p [innerHTML]="Sectype" class="alert bg-primary text-white">

        </p>
    </div>
    
</div>
