<p class="bg-info text-center text-white">
    property binding
 </p>
<div class="row">
    <div class="col-md-4">
        <p [innerHTML]="Angular" class="alert alert-info">

        </p>
    </div>
    <div class="col-md-4">
       <p [innerHTML]="component" class="alert bg-success text-white">
            
       </p>
       <p [innerHTML]="template" class="alert bg-primary text-white">

       </p>
    </div>
    <div class="col-md-4">
        
        <p [innerHTML]="fritype" class="alert bg-primary text-white">

        </p>
        <p [innerHTML]="Sectype" class="alert bg-primary text-white">

        </p>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Property Binding in input
            </div>
            <div class="card-body">
             <div class="form-group">
                <input type="text" class="form-control" [value]="ngv">
                <hr>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" [value]="ngv1">
                <hr>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" [value]="ngv2">
                <hr>
             </div>
            </div>
            <div class="card-footer">
                Property Binding in input
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Property Binding in input
            </div>
            <div class="card-body">
             <div class="form-group">
                <input type="text" class="form-control" [value]="info">
                <hr>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" [value]="info1">
                <hr>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" [value]="info2">
                <hr>
             </div>
            </div>
            <div class="card-footer">
                Property Binding in input
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Property Binding in input
            </div>
            <div class="card-body">
             <div class="form-group">
                <input type="text" class="form-control" [value]="prop">
                <hr>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" [value]="prop1">
                <hr>
             </div>
             <div class="form-group">
                <input type="text" class="form-control" [value]="prop2">
                <hr>
             </div>
            </div>
            <div class="card-footer">
                Property Binding in input
            </div>
        </div>
    </div>
    
</div>
